@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Go to admin area", actionName:"Index", controllerName: "Home",
                 routeValues: new { Area = "Admin" }, htmlAttributes: null)